  .top{
    color: #E85A70;
    height: 300px;
    padding: 50px;
    text-align: center;

    .top-name {
      font-size: 40px;
      margin-top: 85px;

      &__title {
        font-size: 20px;
        color: #FFB2AE;
      }
    }
  }
  .middle-work {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;
  
    .work-box {
      display: inline-block;
      height: 200px;
      width: 255px;
      margin: 20px 10px 0 10px;
      text-align: center;
      border: solid 15px white;
      border-radius: 15px;

      &__title {
        color: #E85A70;
        margin: 70px 0 70px 0;
        padding: 0;
        font-size: 23px;
      }
    }
  }
  
  .modal {
    display: none;
    height: 100vh;
    position: fixed;
  
    &__bg {
      background: rgba(0,0,0,0.8);
      height: 100vh;
      position: absolute;
      width: 100%;
    }
  
    &__content {
      background: white;
      padding: 40px;
      position: fixed;
      width: 100vh;
      height: 570px;
      top: 150px;
      z-index: 2;
      border-radius: 25px;
  
      &__name {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
      }
    }
    .modal-close {
      cursor:pointer;
    }
  }
