.top-work{
  color: black;
  background-color: white;
  margin: 50px;
  text-align: center;

  &__title {
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
  }
}

.middle-work {
  &__box1 {
    
  }
}