.wrapper
  .header
    .header__right
      =fa_icon "bars", class: "menu"
      %nav.opened
        %ul.nav-bar
          %li TOP
          %li PROFILE
          %li WORK
          %li MAIL
    .hamburger
  
    .header__left
      =fa_icon "chevron-left", class: "back"