.wrapper
  .header
    .header__left
      =fa_icon "chevron-left", class: "back"
    .header__right
      #opend
        =fa_icon "bars", class: "menu"
        %nav.toggle
          %ul.nav-bar
            %li TOP
            %li PROFILE
            %li WORK
            %li MAIL
