.form
  %form{action: "https://docs.google.com/forms/d/e/1FAIpQLSfG4bq16_stM_6x5B9yB__hr08-rrPQXYL46PqGWZST_Ef1uA/formResponse?edit2=2_ABaOnudi27z8zypUuFfLoLuyhu37r9WO5_dIyZretKPm", method: "post"}
    %input{name: "entry.2005620554", placeholder: "Name", type: "text", value: "", class: 'form__name'}/
    %br/
    %input{name: "entry.1045781291", placeholder: "Email", type: "email", value: "", class: 'form__mail'}/
    %br/
    %textarea{:cols => "30", name: "entry.839337160", placeholder: "messages...", rows: "5", class: 'form__message'}
    %br/
    %button.btn-info{name: "submit", type: "submit"} Submit
