.profile
  .profile__content-left
    = image_tag "/images/face.jpg", size: "250x250", class: "face"
  .profile__content-right
    %ul
      %li 
        名前：Kometani Mizuki
      %li
        出身：大阪
      %li
        3年ほど美容部員として化粧品販売員として従事。
        %br その後TECH::EXPERATでプログラミングについて勉強