.profile
  .profile__content-left
    = image_tag "face.jpg", size: "250x250", class: "face"
  .profile__content-right
    %ul
      %li 
        Name：KOMETANI MIZUKI
      %li
        Birthday：1993.10.26
      %li
        Area：OSAKA
      %li
        Etc：大学卒業後、約3年間美容部員を経験。
        %br フロントエンジニアやデザインに興味を持ち、転職を決め美容部員を退職。
        その後TECH::EXPERTで約半年間プログラミングを学習。
        %br 現在はHTML・CSS・JavaScriptを中心に、フロントエンドやデザインについて勉強中です。