.profile
  .profile__content-left
    = image_tag "/images/face.jpg", size: "250x250", class: "face"
  .profile__content-right
    %ul
      %li 
        Name：KOMETANI MIZUKI
      %li
        Birthday：1993.10.26
      %li
        Area：OSAKA
      %li
        Etc...：約3年、美容部員として販売員を経験。
        %br ある日、フロントエンジニアという職業に興味を持ち、美容部員を退職。
        その後TECH::EXPERTで約半年間プログラミングについて学びました。