.product
  .product__box
    .product__box__image
      = image_tag '/images/App.png', class:"image"
      .product__box__image__intro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

  .product__box
    .product__box__image
      = image_tag '/images/App.png', class:"image"
      .product__box__image__intro a

  .product__box
    .product__box__image
      = image_tag '/images/App.png', class:"image"
      .product__box__image__intro a