.product
  .product__box
    .product__box__image
      = image_tag '/App.png', class:"image"
      .product__box__image__intro
        %p.product-title MiniBrog
        初めて自分で作成した投稿ができるミニブログです。
        %br 投稿機能やユーザーログイン機能を実装しました。

  .product__box
    .product__box__image
      = image_tag '/chatspace.jpg', class:"image"
      .product__box__image__intro
        %p.product-title Chat-Space
        ユーザー機能に加えて、チャット機能を実装。
        %br インクリメンタルサーチや非同期通信を学びました。
        http://3.114.133.82/

  .product__box
    .product__box__image
      = image_tag '/images/App.png', class:"image"
      .product__box__image__intro
        %p.product-title Mercari Crone
        グループ開発で製作しました。
        %br 担当箇所：TOPページのフロントエンド・商品出品機能
        SNS認証ログイン・商品詳細ページ
        %br ID: 52_mercari_wa / Pass: 52wa / http://3.114.140.221/

