.profile
  .profile__content-left
    = image_tag "/images/face.jpg", size: "250x250", class: "face"
  .profile__content-right
    %ul
      %li 
        Name：KOMETANI MIZUKI
      %li
        Area：OSAKA
      %li
        約3年美容部員として販売員を経験。
        %br その後TECH::EXPERATでプログラミングについて勉強し、