.wrapper  
  = render "shared/header"
  .top
    .top-name
      KOMETANI MIZUKI
      .top-name__title
        portfolio

  .middle-work
    %a.modal-open{"data-target":"modal1", href: "", class: "work-box"}
      .work-box__title PROFILE
    %a.modal-open{"data-target":"modal2", href: "", class: "work-box"}
      .work-box__title PRODUCT
    %a.modal-open{"data-target":"modal3", href: "", class: "work-box"}
      .work-box__title CONTACT
    
    #modal1.modal
      .modal__bg.modal-close
      .modal__content
        .modal__content__name
          #title1 PROFILE
        = render "portfolio/profile"
        .modal-close{href: ""} BACK

    #modal2.modal
      .modal__bg.modal-close
      .modal__content
        .modal__content__name
          #title2 PRODUCT
        = render "portfolio/product"
        .modal-close{href: ""} BACK

    #modal3.modal
      .modal__bg.modal-close
      .modal__content
        .modal__content__name 
          #title3 CONTACT
        = render "portfolio/mailer"
        .modal-close{href: ""} BACK

  .footer
