.wrapper  
  = render "shared/header"
  .top-work
    .top-work__title
      WORK
    
  .middle-work
    .middle-work__show
      %a.modal-open{"data-target":"modal1", href: "", class: "work-box"} Mini blog
      %a.modal-open{"data-target":"modal2", href: "", class: "work-box"} Chat-Space
      %a.modal-open{"data-target":"modal3", href: "", class: "work-box"} Mercari crone
    
      #modal1.modal
        .modal__bg
        .modal__content
          ここにコンテンツ
          .modal-close{href: ""} back

        #modal2.modal
          .modal__bg
          .modal__content
            ここにコンテンツ
            .modal-close{href: ""} back

        #modal3.modal
          .modal__bg
          .modal__content
            ここにコンテンツ
            .modal-close{href: ""} back